{{define "search"}}
<form class="siteSearch" id="searchSite">
  <input type="text" placeholder="Search note" id="searchSiteInput" name="searchSite" required autocomplete="off">
</form>
<div id="site_search_result"></div>
<script>
  var resultDiv = document.getElementById("site_search_result");
  document.getElementById("searchSite").addEventListener("keyup", function (e) {
      e.preventDefault();
    const searchValue = document.getElementById("searchSiteInput").value.toLowerCase();

      const url = "/static/noteindex.json";

      fetch(url)
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          resultDiv.innerHTML = "";
        let found = 0;
        if (searchValue !== "") {
          for (const key in data) {
            const note = data[key];
            const title = note.Frontmatter.Title.toLowerCase();
            const body = note.Body.toLowerCase();

            if (title.includes(searchValue) || body.includes(searchValue)) {
              const a = document.createElement("a");
              a.innerHTML = note.Frontmatter.Title;
              a.href = `/${note.CompleteURL}`;
                resultDiv.appendChild(a);
              resultDiv.appendChild(document.createElement("br"));
              found++;
              }
            }
          } else {
          resultDiv.innerHTML = "Please enter a search term";
        }

        if (found === 0) {
          resultDiv.innerHTML = "No results found";
          }
        })
        .catch((error) => {
          // Handle errors
        console.error("There was a problem with the fetch operation:", error);
        });
    });
</script>
{{end}}